OWNER_ID=2024030789
MONGO_URL=mongodb+srv://nydhfile:vcsgratis1@vcsgratis.qeicqcy.mongodb.net/?retryWrites=true&w=majority&appName=vcsgratis
BOT_TOKEN=6214783879:AAEdOPhUF-3QJGQiXeY8AahyT1-3X6kIZ9A
DATABASE_ID=-1001805849861
API_ID=11381402
API_HASH =349d6f6868d82dc82c7a9b356051f035
