OWNER_ID=2024030789
MONGO_URL=mongodb+srv://nydhfile:bergairah1@bergairah.qymx95f.mongodb.net/?retryWrites=true&w=majority&appName=bergairah
BOT_TOKEN=6896234013:AAEUegrHxnmtH37J6ymhTmCDEdwB9PGdoss
DATABASE_ID=-1001953122560
API_ID=11381402
API_HASH =349d6f6868d82dc82c7a9b356051f035
